body {
    background-color: blueviolet;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}
.frogcolor{
    background-color: green;
}
.jumping{
    background-color: yellow;
    grid-row: 2/4;
    grid-column: 2;
}
.eating{
    background-color: brown;
    grid-row: 1;
    grid-column: 2/4;
}
.jumping div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*h6 {
    background-color:chartreuse;
}
p {
    color:white;
}
.p1 {
    text-transform:uppercase;
    color:tomato;
    font-size:3em;
    border:3px solid white;
    padding:50px 10px 20px 100px;
    margin:100px;
    background-color:yellow;
    text-align:center;
}
.dave {
    width:150px;
    line-height:1.4em;
    font-weight:bold;
}
#id {
    font-family:'Neonderthaw', cursive;
    font-size:4em;
}*/